body {
  background-color: #659dbd;
}

.title {
  color: black;
  /* justify-content: center; */
 
}
h1 {
  margin: auto;
  text-align: center;
  text-shadow: 2px 2px#8d8741;
}
h2 {
  text-transform: capitalize;
  text-shadow: 2px 2px#8d8741;
  text-align: center;
}

#winningAlert {
  text-transform: uppercase;
  text-shadow: 2px 2px#8d8741;
}

.pointer {
  display: grid;
  height: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
  justify-content: center;
  grid-template-columns: repeat(7, 100px);
  padding-right: 64px;
}

.arrow {
  display: inline-block;
  justify-content: center;
  width: 7%;
  margin: 0 auto;
  font-size: 45px;
  background-color: #659dbd;
  border: none;
  border-radius: 30%;
  cursor: pointer;
  /* box-shadow:; */
}

.arrow:hover {
  color: mintcream;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .pointer {
    width: 8.7%;
  }
}

.grid {
  border-spacing: 55%;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 710px;
  height: 750px;
  top: 12rem;
  border-right: black solid 12px;
  border-left: black solid 12px;
  padding: 2rem;
  box-shadow: 10px 15px #8d8741;
  background-color: #bc986a;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.dogecoin1 {
  background-image: url('Quin1.png');
  background-repeat: no-repeat;
  background-size: 129%;
  background-position: center;
}

.dogecoin2 {
  background-image: url('Quin2.png');
  background-repeat: no-repeat;
  background-size: 129%;
  background-position: center;
}

.grid table tr td {
  border-collapse: separate;
  border-spacing: 300px;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 60%;
  margin: 100px;
}

#resetbutton {
  margin-top: 38%;
  margin-left: 15%;
  text-align: left;
}


#dogecoin {
  background-color: salmon;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 auto;
}

#dogecoin {
  display: block;
  animation: drop 2s linear;
}

@keyframes drop {
  0% {
    transform: translateY(-800px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes clearboard {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(700px);
  }
}

#reset {
  background-color: tan;
  font-size: larger;
  cursor: pointer;
  border: 2px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#resetbutton2 {
margin-top: -2%;
margin: 1%;
margin-left:13.7%;
}

#reset2 {
  
  background-color: tan;
  font-size: larger;
  cursor: pointer;
  border: 2px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#reset2 a {
  color: black;
}


table {
 border-collapse: separate;
 border-spacing: 17px 17px;
}

