*{
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  text-align:center;
}

header{
  color: black;
  text-shadow: 2px 2px #8d8741;
  
}
h1{
  margin-bottom: 100px;
}
#title{
  color: #fbeec1;
  font-family: 'Fredoka One', cursive;
  font-size:3em;
}

.contentBx {
  background: #bc986a;
  color: #fbeec1;
  text-shadow: 2px 2px #8d8741;
  cursor: pointer;
  padding: 5px;
  width: 50%;
  display:block;
  margin: auto;
  margin-bottom: 0;
  font-family: 'Bebas Neue', cursive;
  font-size:2em;
  font-stretch: expanded;
  border-style:solid;
  border-width: 8px;
  border-radius:6px;
  border-color: #8d8741;
}

body {
  background-color:#659dbd;
  min-height: 100vh;
}

.contentBx::before{
  content: '+';
  float: left;
  top:50%;
  right: 20 px;
  transform: translateY(-50%);
  font-size: 2em;
}

.content {
  background-color: #8f0d08;
  color: black;
  text-shadow: 1px 1px #8d8741;
  margin: auto;
  width: 50%;
  padding: 0 20px;
  display: none;
  overflow: hidden;
  color:#FBEEC1;
  border-left:black;
  border-right:black;
  font-family: 'Fjalla One', sans-serif;  
  } 

.contentBx.active::before{
  content:'-';
  font-size:2em;
  transition: 0.2s;
}
.content, p{
  top:50%;
  right: 20 px;
  transition: 2s;
}
label{
 
  margin: auto;
  text-align: center;
}

.play {
  background-color: tan;
  font-size: larger;
  cursor: pointer;
  border: 2px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.player{
  font-family: 'Kanit', sans-serif;
}
